*{
    margin: 0;
    padding: 0;
}

.masthead{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar{
    max-height: 40px;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    touch-action: none;
    inset: 0;
    z-index: -1; /* pushes it behind everything */
}


.icon-vertical {
    position: absolute;
    top: 20px;      /* adjust */
    left: 20px;     /* adjust */
    display: block; /* key: block elements stack vertically */
    z-index: 10;
}

.icon-vertical img,
.icon-vertical a {
    display: block;     /* each item becomes its own row */
    margin-bottom: 12px;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 1;           /* Start fully black */
  pointer-events: none; /* Don't block clicks */
  transition: opacity 2.5s ease; /* Smooth fade */
  z-index: 9999;
}

