*{
    margin: 0;
    padding: 0;
}

.masthead{
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.navbar{
    max-height: 40px;
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* pushes it behind everything */
}


.icon-vertical {
    position: absolute;
    top: 20px;      /* adjust */
    left: 20px;     /* adjust */
    display: block; /* key: block elements stack vertically */
    z-index: 10;
}

.icon-vertical img,
.icon-vertical a {
    display: block;     /* each item becomes its own row */
    margin-bottom: 12px;
}


